header {
  max-width: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-bottom: 3px solid var(--clr-rose);
}

.header__title {
  font-size: var(--size-5xl);
  font-weight: 900;
  text-align: center;
  padding: 1em 0;
}

.heart {
  color: var(--clr-rose);
  text-shadow: 1px 1px 1px var(--clr-light), -1px 1px 1px var(--clr-light), -1px -1px 0 var(--clr-light),
    1px -1px 0 var(--clr-light);
}

.kondi-heart {
  padding: 1em;
}

.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.password__input {
  border: 3px solid var(--clr-rose);
  border-radius: 25px;
  padding: .5em;
  text-align: center;
  font-size: var(--size-lg);
  background: var(--clr-light);
  color: var(--clr-rose);
}

.btn {
  padding: .75em 1.5em;
  margin: 1em;
  font-size: var(--size-xl);
  font-weight: 600;
  border-radius: 100px;
  transition: all .6s ease-in-out;
  background: var(--clr-gradient);
}

.btn:hover {
  background: var(--clr-gradient-reverse);
}

/* xs */
@media (min-width: 475px) {
  header {
    max-width: 25em;
  }

  .header__title {
    font-size: var(--size-7xl);
    padding: 1em;
  }

  .kondi-heart {
    max-width: 20em;
  }

  .password {
    flex-direction: row;
  }

  .password__input {
    font-size: var(--size-xl);
  }

  .btn {
    font-size: var(--size-xl);
    width: 10em;
  }
}

/* lg */
@media (min-width: 1024px) {
  header {
    max-width: 30em;
  }

  .header__title {
    font-size: var(--size-9xl);
  }

  .kondi-heart {
    max-width: 25em;
  }

  .password__input {
    font-size: var(--size-2xl);
  }

  .btn {
    font-size: var(--size-2xl);
  }
}